@model OnlineElection.ModelView.LoginUser
@{
    var returnUrl = @Context.Request.Query["returnurl"];
}





<form asp-controller="User" asp-action="Login" asp-route-returnurl="@returnUrl" asp-action="post">
<label asp-for="Email">
    Your email

</label>    
<input type ="email" asp-for="Email" />

<label asp-for="Password">
    Your password

</label>    
<input type ="password" asp-for="Password" />

<input type="submit" />

</form>


