@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form asp-controller="User" asp-action="ConfirmEmail">

<input type="submit" />
    
</form>
