@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/User/Create">New user</a>
    <a href="/User/Login">Login</a>
    <h2>
    @Html.Label("", TempData["Name"]?.ToString())
    </h2> 
    <a href ="/User/CreateElect/"> Create Electing</a>

    @if(User.Identity.IsAuthenticated)
    {
          <a href ="/User/Logout/">Log Out</a>
          <a href="/Election/Create/">Create election</a>
    }

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
